Wczytanie danych, podstawa statystyka

In [13]:
import pandas  as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
file_name='cardio_train.csv'
file_path = os.path.join(os.path.abspath(""), "python", file_name)
df = pd.read_csv(file_name,delimiter=';')
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [17]:
#podstaowa statystyka
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
df.dtypes #wszytkie kolumnty są int, weight jest floatem

id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [20]:
#sprawdzenie czy w danych są wartości null
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

Zliczenie rekordów dla kolumn z wyszczególnieniem katygorii

In [21]:
df.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [27]:
#płeć
print("Wszystkie kobiety = ",df[df['gender']==1].shape[0])
print("Wszyscy mężczyźni = ",df[df['gender']==2].shape[0])

Wszystkie kobiety =  45530
Wszyscy mężczyźni =  24470

In [61]:
#palenie
print('Liczba osób niepalących(0) i palących(1): \n', df['smoke'].value_counts())
#podział ze względu na płeć
females_without_smoke=np.logical_and(df['gender']==1,df['smoke']==0).sum()
males_without_smoke=np.logical_and(df['gender']==2,df['smoke']==0).sum()
females_with_smoke=np.logical_and(df['gender']==1,df['smoke']==1).sum()
males_with_smoke=np.logical_and(df['gender']==2,df['smoke']==1).sum()
print("Liczba kobiet niepalących:",females_without_smoke," i palących:",females_with_smoke)
print("Liczba mężczyzn niepalących:",males_without_smoke," i palących:",males_with_smoke)

Liczba osób niepalących(0) i palących(1):
 0    63831
1     6169
Name: smoke, dtype: int64
Liczba kobiet niepalących: 44717  i palących: 813
Liczba mężczyzn niepalących: 19114  i palących: 5356

In [60]:
#alkohol
print('Liczba osób niepijących(0) i pijących(1) alkohol: \n',df['alco'].value_counts())
#podział ze względu na płeć
females_without_alco=np.logical_and(df['gender']==1,df['alco']==0).sum()
males_without_alco=np.logical_and(df['gender']==2,df['alco']==0).sum()
females_with_alco=np.logical_and(df['gender']==1,df['alco']==1).sum()
males_with_alco=np.logical_and(df['gender']==2,df['alco']==1).sum()
print("Liczba kobiet niepijących:",females_without_alco," i pijących:",females_with_alco)
print("Liczba mężczyzn niepijących:",males_without_alco," i pijących:",males_with_alco)

Liczba osób niepijących(0) i pijących(1) alkohol:
 0    66236
1     3764
Name: alco, dtype: int64
Liczba kobiet niepijących: 44369  i pijących: 1161
Liczba mężczyzn niepijących: 21867  i pijących: 2603

In [63]:
#przebyte choroby serca
print('Liczba osób ze schorzeniami kardiologicznymi: \n',df['cardio'].value_counts())
#podział ze względu na płeć
females_without_cardio=np.logical_and(df['gender']==1,df['cardio']==0).sum()
males_without_cardio=np.logical_and(df['gender']==2,df['cardio']==0).sum()
females_with_cardio=np.logical_and(df['gender']==1,df['cardio']==1).sum()
males_with_cardio=np.logical_and(df['gender']==2,df['cardio']==1).sum()
print("Liczba kobiet ze schorzeniami kardiologicznymi: brak:",females_without_cardio," i potwierdzone:",females_with_cardio)
print("Liczba mężczyzn ze schorzeniami kardiologicznymi: brak:",males_without_cardio," i potwierdzone:",males_with_cardio)

Liczba osób ze schorzeniami kardiologicznymi:
 0    35021
1    34979
Name: cardio, dtype: int64
Liczba kobiet ze schorzeniami kardiologicznymi: brak: 22914  i potwierdzone: 22616
Liczba mężczyzn ze schorzeniami kardiologicznymi: brak: 12107  i potwierdzone: 12363

In [68]:
#cholesterol - 3 kategorie
df['cholesterol'].value_counts()
# podział na płcie
females_chol_1=np.logical_and(df['gender']==1,df['cholesterol']==1).sum()
females_chol_2=np.logical_and(df['gender']==1,df['cholesterol']==2).sum()
females_chol_3=np.logical_and(df['gender']==1,df['cholesterol']==3).sum()
males_chol_1=np.logical_and(df['gender']==2,df['cholesterol']==1).sum()
males_chol_2=np.logical_and(df['gender']==2,df['cholesterol']==2).sum()
males_chol_3=np.logical_and(df['gender']==2,df['cholesterol']==3).sum()
print(females_chol_1,females_chol_2,females_chol_3)
print('-----------')
print(males_chol_1,males_chol_2,males_chol_3)

33570 6403 5557
-----------
18815 3146 2509

In [71]:
df['age1']=df['age']/365

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age1
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.391781
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.419178
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51.663014
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.282192
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47.873973